.blog-header{
	padding: 6% 0 0;
}

.blog-container, aside.sidebar{
	padding-top: 50px;
}

.widget.widget_nav_menu{
	padding-top: 0;

	h6{
		margin-bottom: 10px;
	}
}

.page-template-page-blog,.category{

	.page-hero.relative{
		min-height: 300px;

		@include breakpoint(small down){
			min-height: 200px;
		}
	}
}
.blog-search{
	width: 100%;
	max-width: 400px;
	left: 50%;
	top: 60%;
	transform: translate(-50%,-50%);

	@include breakpoint(small only){
		width: 80%;
	}
}

#menu-blog-categories{
	display: block;

	li{
		text-indent: -0.9rem;
		padding-left: 1.8rem;
		margin-bottom: 5px;
	}

	a{
		padding-left: 0;
		color: $text-gray;
		transition: color 0.25s ease-in-out;
		padding: 5px 0;
		text-transform: uppercase;
		letter-spacing: 1px;
		line-height: 1.2em;

		&:hover{
			color: $blue;
		}
	}
}

.pagination{
	text-align: center;

	.current{
		background-color: $blue;
		padding: 10px 15px;
		border-radius: 20px;
	}

	a{
		display:inline;

		&:hover{
			background-color: $clear;
			color: $blue;
		}
	}
}

.page-template-page-blog{

	#page-header{
		padding: 0;

		.top-bar-left{
			flex: 34%;
		}

		.top-bar-right{

			.menu{
				justify-content: flex-end;
			}
			
			.input-group{
				margin: 0;
			}
		}
	}

	.pagination{
		display: flex;

		.page-numbers{
			display: none;
			color: #4d7da6;
			transition: color 0.25s ease-in-out;

			&:hover {
				background-color: $clear;
				color: $blue;
			}

			&.next,&.prev{
				display: block;
				flex-grow: 1;
			}

			&.next{
				text-align: right;
			}
		}
	}


}