.page-container{
	background-color: #F8F8F8;
}

.select-film{
	padding-top: 0;

	.grid-container{
		background-color: $white;
		padding: 5% 0;
		box-shadow: 0 1px 6px 2px #eee;
	}

	.icon-container i{
		font-size: 1.5rem;
		color: #cdced0;
	}

	.number{
		width: 40px;
		height: 40px;
		border: 1px solid #e8e8e8;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 0;
		
		span{
			font-size: 1.375rem;
			color: #80a3bf;
			position: relative;
			top: 2px;
		}
	}

	.flex-column{
		display:flex;
		flex-direction: column;
		justify-content: center;
	}

	.appearance{
		margin-left: 0;
	}

	.range-labels{
		list-style-type: none;
		display: flex;
		margin: 0;
		font-size: 13px;

		li{
			flex-grow: 1;
		}
	}

	.film-colors{
		list-style-type: none;
		display: flex;
		margin: 0;
		margin-top: 10px;

		li{
			flex-grow: 1;
			flex-basis: 0;
			margin: 0 5px;
			cursor: pointer;
			position: relative;

			.color-swatch{
				height: 25px;
			}

			&:first-of-type{
				margin-left: 0;
			}

			&:last-of-type{
				margin-right: 0;
			}
		}

		li .img-wrap.active-film{
			position:absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 25px;
			z-index: 1;
			box-shadow: inset 0 0 0 3px $yellow;
		}

		li p{
			margin: 5px 0 0 0;
			text-align: center;
		}
	}

	.btn-container{
		display: flex;

		a{
			margin: auto 0 auto auto;
		}
	}
	// film selector results
	.top-results{
		display:flex;

		.left,.right{
			flex-grow: 1;
		}
	}

	.theme--light.application{
		background-color: $white;
	}

	.theme--light.v-messages{
		display: none;
	}

	.v-slider input{
		cursor: pointer;
	}

	.v-input--slider{
		margin-top: 20px;
	}

	.v-input__slot{
		margin-bottom: 0;
	}

	.primary{
		background-color: $yellow !important;
		border-color: $yellow !important;
	}

  .v-slider__track__container,.v-slider__track, .v-slider__track-fill{
  	height: 4px;
  }

  .v-slider__thumb-container:before{
  	background-color: $clear;
  }

  .v-slider__thumb.primary:focus{
    outline: 0;
  }
}
