.page-template-page-find-dealer,.page-template-page-dealer-results{

	form{
		display:flex;
		
		@include breakpoint(medium down){
			flex-direction: column;
		}
	}

	form label{
		background-color: white;
		padding:10px;
		border-radius:3px;
		text-align: center;
		color: $light_blue;
		font-size: 10px;
		width: 90px;
		margin: auto 2.5px;

		@include breakpoint(small down){
			width: 40%;
			margin-bottom: 10px;
		}
	}

	form label i{
		font-size: 1.75rem;
		margin-bottom: 5px;
	}

	form input[type=radio]{
		appearance:none;
	}
	form input[type=radio]:checked + label {
		outline: 2px solid $yellow;
	}

	form fieldset{
		display: inline-block;
	}

	.radius-zip{
		background-color: $white;
		padding: 15px;
		border-radius:3px;
		margin-left: 5px;
		width: 350px;

		@include breakpoint(medium down){
			margin: 0 2.5px;
			width: auto;
		}

		select,input{
			border-color: #eceded;
			color: #818285;
			border-radius: 3px;
		}

		select,.zip{
			width: calc(50% - 5px);
			float: left;
			margin: auto 5px auto auto;

			@include breakpoint(small only){
				width: 100%;
				margin: 0 0 10px;
				float: none;
			}
		}

		.zip{
			margin: auto auto auto 5px;
			position: relative;

			@include breakpoint(small only){
				margin: 0;
			}

			input{
				margin-bottom: 0;
				box-shadow: none;
			}
			button[type=submit]{
				position: absolute;
				right: 0;
				top: 0;
				border-radius: 0;
				cursor: pointer;
				height: 2.4375rem;
				width: 2.4375rem;
				padding: 0;

				i{
					font-size: 24px;
				}
			}
		}

		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #818285;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: #818285;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: #818285;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: #818285;
		}
	}

	.my-location{
		width: 180px;
		position: relative;

		#use-location{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			width: 100%;
			text-align: center;
		}
	}
}

.page-template-page-dealer-results,.page-template-page-distribution{

	h1{
		font-size: 1.875rem;
		font-family: 'AvenirLTStd-Black';
	}

	.subhead{
		color: #80a3bf;
		font-size: 1.25rem;

		.underline{
			border-bottom: 1px solid #80a3bf;
			color: #80a3bf;
			font-size: 1.25rem;
		}
	}

	.module{
		padding: 70px 30px 20px;
		position: relative;
		overflow-y: hidden;

		h5{
			font-size: 1.125rem;
		}

		.dealer-tag{
			position: absolute;
			top: 0;
			right: 30px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			width: auto;
			text-align: right;
			padding: 10px;
			background-color: $blue;

			i{
				font-size: 20px;
				padding: 0 2.5px;
				color: $white;
			}
		}
	}

	.dealer-meta{
		list-style-type: none;
		margin: 0;

		li{
			font-size: 14px;
			padding: 2.5px 0 2.5px 0.9rem;
			text-indent: -0.6rem;

			&.email{
				word-break: break-all;
			}
		}

		li i{
			color: #80a3bf;
		}
	}

	#modal-content{
		text-align: center;
		padding: 40px 0;

		.subhead{
			font-size: 1.25rem;
			color: $text-gray;
		}

		textarea{
			resize: none;
		}

		input,textarea{
			box-shadow: none;
			border-radius: 3px;
			border: 2px solid #e5e6e6;

			&:not(:placeholder-shown):valid{
				color: #1a598c;
				background-color: #ecf1f5;
			}

			&:not(:placeholder-shown):invalid{
				color: #e34d45;
				border-color: #e34d45;
				background: url(../images/invalid.svg) no-repeat 95% 50%;
				background-size: 15px;
			}
		}

		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
		  -webkit-appearance: none; 
		  margin: 0; 
		}

		input[type='number'] {
		    -moz-appearance:textfield;
		}

		button[type=submit]{
			cursor: pointer;
			transition: background-color 0.25s ease-in-out;

			&:hover{
				background-color: $yellow;
			}
		}

	}
}

.page-template-page-distribution{

	#region-tabs{
		background-color: $clear;
		border: 0;

		.tabs-title{
			background-color: $white;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 95px;
			width: 100px;
			margin: 0 5px 10px;
			border-radius: 3px;
			padding: 10px;

			&.is-active{
				border: 2px solid $yellow;
			}

			> a[aria-selected='true']{
				background-color: $white;
			}

			> a:focus{
				background-color: $clear;
			}

			a{
				padding: 0;
				height: 100%;
				width: 100%;
				text-align: center;
			}

			img{
				margin-bottom: 5px;
			}
		}
	}
	
	.module{
		padding: 30px;
	}

	.email.website{
		a{
			color: $light_blue;
			border-bottom: 1px solid $light_blue;
		}
	}

	.info-icon.has-tip{
		position: absolute;
		right: 10px;
		bottom: 5px;
		border-bottom: 0;

		i{
			font-size: 0.875rem;
		}
	}
}
