.page-template-page-find-dealer{

	form{
		display:flex;
		
		@include breakpoint(medium down){
			flex-direction: column;
		}
	}
	form label{
		background-color: white;
		padding:10px;
		border-radius:3px;
		text-align: center;
		color: $light_blue;
		font-size: 10px;
		width: 90px;
		margin: auto 2.5px;

		@include breakpoint(small down){
			width: 40%;
			margin-bottom: 10px;
		}
	}

	form label i{
		font-size: 1.75rem;
		margin-bottom: 5px;
	}

	form input[type=radio]{
		appearance:none;
	}
	form input[type=radio]:checked + label {
		outline: 2px solid $yellow;
	}

	form fieldset{
		display: inline-block;
	}

	.radius-zip{
		background-color: $white;
		padding: 15px;
		border-radius:3px;
		margin-left: 5px;
		width: 350px;

		@include breakpoint(medium down){
			margin: 0 2.5px;
			width: auto;
		}

		select,input{
			border-color: #eceded;
			color: #818285;
			border-radius: 3px;
		}

		select,.zip{
			width: calc(50% - 5px);
			float: left;
			margin: auto 5px auto auto;

			@include breakpoint(small only){
				width: 100%;
				margin: 0 0 10px;
				float: none;
			}
		}

		.zip{
			margin: auto auto auto 5px;
			position: relative;

			@include breakpoint(small only){
				margin: 0;
			}

			input{
				margin-bottom: 0;
				box-shadow: none;
			}
			button[type=submit]{
				position: absolute;
				right: 0;
				top: 0;
				border-radius: 0;
				cursor: pointer;
				height: 2.4375rem;
				width: 2.4375rem;
				padding: 0;

				i{
					font-size: 24px;
				}
			}
		}

		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #818285;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: #818285;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: #818285;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: #818285;
		}
	}

	.my-location{
		width: 180px;
		position: relative;

		#use-location{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			width: 100%;
			text-align: center;
		}
	}
}