.footer{
	background-color: $white;
	padding: 8% 0;

	@include breakpoint(small down){
		padding: 10% 0;
	}

	.credits{
		margin-top: 50px;

		a{
			color: $text-gray;
			border-bottom: 1px solid $text-gray;
			transition: all 0.25s ease-in-out;

			&:hover{
				color: $blue;
				border-color: $blue;
			}
		}
	}

	ul{
		list-style-type: none;
		margin: 0;

		li{
			font-size: .875rem;
			font-family: 'AvenirLTStd-Light';
			margin-bottom: 5px;

			&.heading{
				margin-bottom: 15px;
				font-family: 'AvenirLTStd-Medium';
	    }

	    a{
	    	color:$text-gray;
	    	transition: color 0.25s ease-in-out;

	    	&:hover{
	    		color: $blue;
	    	}
	    }
		}
	}

	address,p{
		font-size: .875rem;
		font-family: 'AvenirLTStd-Light';
		margin-bottom: 5px;
	}

	address a{
		color: $text-gray;
		border-bottom:1px solid $text-gray;
		transition: all 0.2s ease-in-out;

		&:hover{
			border-color: $blue;
			color: $blue;
		}
	}

	.blue{
		text-transform: uppercase;
	}

	.footer-logos{
		
		.cell{

			img{
				max-width: 130px;
				max-height: 75px;
			}
		}
	}
}