.page-template-page-madicou {

	.site-header {
	    border-bottom: 1px solid #e5e6e6;
	    background-color: rgba(255,255,255,0.95);
	    height: 71px;
	    transition: height 0.33s;
	    overflow: hidden;
	    position: fixed;
	    width: 100%;
	    z-index: 999;

	    .top-bar-title {
	        padding: 0px 0px;
	        height: 40%;
	    }

	    .main-menu > ul {
		    padding: 0;
		    height: 100%;
		    background:transparent;
		}
		/*
		.main-menu > ul > li {
		    float: left;
		    font-size: 14px;
		    color: #818285;
		    font-family: 'Avenir-Medium', sans-serif;
		    text-transform: uppercase;
		    height: 100%;
		    list-style:none;
		    margin: 0 0 0px 0;
		    padding: 0;
		    text-align: left;
		    position: relative;
		}
		.main-menu > ul > li > a:before {
		    display: block;
		    position: absolute;
		    top: 0px;
		    left: 51%;
		    right: 51%;
		    content: '';
		    transition: all .2s;
		    border-top: 5px solid #e09e10;
		}

		.main-menu > ul > li > a {
		    color: #818285;
		    display: block;
		    padding: 0px 17px;
		    height: 100%;
		    text-decoration: none;
		    outline: none;
		    border: none;
		}

		.main-menu > ul > li > a > span {
		    position: relative;
		    top: 50%;
		    transform: translateY(-50%);
		    display: block;
		}
		*/
	}
	
	section {
		padding:3% 0;
		.module .meta p {
			padding-bottom:.5em;
		}
		#searchform input[type=text] {
			max-width:440px;
		}
	}
	.subnav {
		background-color: #00467f;
		padding:0.7em 0;
		a, li {
			color:#ffffff;
		}
		.subnav-left, .subnav-right {
			float: right;
    		right: 0;
    		position: relative;
		}
		span {
			line-height: 1;
		    text-decoration: none;
		    display: block;
		    padding: 0.7rem 1rem;
		    color:#ffffff !important;
		}
		.is-dropdown-submenu {
			border:0;
			background-color: #00467f;
			top:inherit;
			left:auto !important;
		}
		.menu .is-active > a {
			background-color: #00467f;
		}
	}

	.madicou-search {
		padding:6% 0;
		background-color:#ECF1F6;
	}

	.page-content {
		.side-documents {
			.meta {
				.doc-link {
					.fal {
						font-size:2em;
						margin:0 .5em 2em;
						float:left;
					}
				}
			}
		}
	}

	.see-more {
		font-family: 'AvenirLTStd-Black';
		text-transform:uppercase;
		font-size:12px;
		font-weight:bold;
		letter-spacing:0.1125em;
	}

	.virtual-campus {
		text-align:center;
		.fal {
			font-size:3em;
			color:#e09e10;;
		}
		h5 {
			font-size:1.5em;
			font-weight:bold;
		}
	}


}
