.subnav{
	position: sticky;
	top: 71px;
	z-index: 3;
}

.page-template-page-madicou{

	.page-hero,.madicou-search{
		position: relative;
		height: 65vh;
		max-height: 500px;
		top: 71px;
		padding: 0;

		@include breakpoint(small only){
			height: 400px;
		}

		.grid-container {
			position: relative;
			height: 100%;
		}

		img{
			position: absolute;
			top: 50px;
			left: 30px;
		}

		form{
			position: absolute;
			width: 400px;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);

			@include breakpoint(small only){
				width: 90%;
			}

			.input-group{
				margin-bottom: 0;
			}
		}
	}
	.subnav{
		margin-top: 71px;
	}
}
.search-results{
	#top-header.madicou-header nav,
	#top-header.madicou-header nav a {
		background-color: $clear;
		color:$text-gray;
	}

	#top-header.madicou-header .top-bar-left .main-menu a{
		font-family: 'AvenirLTStd-Heavy';
		letter-spacing: 1px;
	}
	.site-header.madicou-header {
    border-bottom: 1px solid #e5e6e6;
    background-color: rgba(255,255,255,0.95);
    height: 71px;
    transition: height 0.33s;
    position: fixed;
    width: 100%;
    z-index: 999;

		.top-bar-left {
			text-transform:uppercase;
		}
		.top-bar-right .btn-yellow {
			font-family:'AvenirLTStd-Heavy';
			font-size:12px;
			background-color: $white;
			border:2px solid $yellow;
			color:$yellow !important;
			letter-spacing: 1px;
			padding:10px 18px 9px 18px;
			display:block;
		}
    .top-bar-title {
      align-self: center;
    }
		.top-bar .menu a {
			font-weight:normal;
			font-size:14px;
		}
	    .main-menu > ul {
		    padding: 0;
		    height: 100%;
		    background:$clear;
		}
		.main-menu > ul >li {
			font-family: 'AvenirLTStd-Medium', sans-serif;
		}
	}
}
.page-template-page-madicou, .single-madicou, .tax-madicou_types {

	button {
		cursor:pointer;
		text-align:left;
	}

	.taxonomy-intro{
		padding: 10% 0 6%;
		
		.meta{

			button{
			  text-align: left;
			}

			i{
				font-size: 16px;
				color: $light_blue;
			}
		}
	}


	#top-header.madicou-header nav,
	#top-header.madicou-header nav a {
		background-color:$clear;
		color:$text-gray;
	}

	#top-header.madicou-header .top-bar-left .main-menu a{
		font-family: 'AvenirLTStd-Heavy';
		letter-spacing: 1px;
	}
	.site-header.madicou-header {
    border-bottom: 1px solid #e5e6e6;
    background-color: rgba(255,255,255,0.95);
    height: 71px;
    transition: height 0.33s;
    position: fixed;
    width: 100%;
    z-index: 999;

		.top-bar-left {
			text-transform:uppercase;
		}

		.top-bar-right .btn-yellow {
			font-family:'AvenirLTStd-Heavy';
			font-size:12px;
			background-color:#fff;
			border:2px solid $yellow;
			color:$yellow !important;
			letter-spacing: 1px;
			padding:10px 18px 9px 18px;
			display:block;
			transition: all 0.25s ease-in-out;

			&:hover{
				background-color: $yellow !important;
				color: $white !important;
			}
		}

    .top-bar-title {
      align-self: center;
    }

		.top-bar .menu a {
			font-weight:normal;
			font-size:14px;
		}

    .main-menu > ul {
	    padding: 0;
	    height: 100%;
	    background:$clear;
		}

		.main-menu > ul > li {
			font-family: 'AvenirLTStd-Medium', sans-serif;

			a{
				padding: 1.75rem 1rem;
			}
		}

		.is-dropdown-submenu-item a{
			color: $white !important;
			transition: background-color 0.25s ease-in-out;

			&:hover{
				background-color: #1a598c;
			}
		}

		#right-dropdown{

			.submenu.first-sub{
				left: -15px;
				min-width: 150px;
			}
			
			.language{
				padding: 1.75rem 1rem;
			}
		}
	}

	.marketing-resources{
		padding: 3% 0 8%;
	}

	.titleblock-top{
		padding: 8% 0 5%;
	}
	
	section {
		padding:3% 0;

		.module .meta p {
			padding-bottom:.5em;
			display:flex;
		}

		#searchform input[type=text] {
			max-width:440px;
		}
	}
	.subnav {
		background-color: #00467f;
		padding: 0;

		#submenu-dropdown{

			a{
				padding-top: 15px;
				padding-bottom: 15px;

				&:hover{
					background-color: $light_blue;
				}
			}
		}

		a{
			font-family: 'AvenirLTStd-Heavy';
			padding-top: 25px;
			padding-bottom: 25px;
			line-height: 1.3;

			&:hover{
				background-color: $light_blue;
			}

			i{
				color: $light_blue;
			}
		}

		a, li {
			color:$white;
		}

		.subnav-left, .subnav-right {
  		position: relative;
		}

		.subnav-right{
			flex: 0 1 auto;
			margin-left: auto;

			.find{

				@media(max-width: 1096px){
					display: none;
				}
			}
		}

		span {
	    text-decoration: none;
	    display: block;
	    padding-top: 22px;
	    padding-bottom: 20px;
	    padding-right: 15px;
	    font-size: 0.875rem;
	    color:$white !important;
		}

		.is-dropdown-submenu {
			border:0;
			background-color: #00467f;
			top:inherit;
			left:auto !important;
		}

		.menu .is-active > a {
			background-color: #00467f;
		}

		.sub-menu .menu i {
			color:#B2C7D9;
		}

		.sub-menu .menu .ask a {
			text-transform:uppercase;
			color:#B2C7D9;
			font-family: 'AvenirLTStd-Heavy';
		}
	}

	.madicou-search {
		background-color:#ECF1F6;
	}

	.module-bg{
		border-bottom: 1px solid #EEE;
	}

	.page-content {
		padding: 3% 0 6%;

		.cell.heading{
			margin-bottom: 0;

			h3{
				margin-bottom: 0;
			}
		}

		.side-documents {
			.meta {
				.doc-link {
					.fal {
						font-size:2em;
						margin:0 .5em 2em;
						float:left;
					}
				}
			}
		}
	}

	.section-h3{
		font-size: 30px;
		margin-bottom: 15px;
	}
	.see-more {
		font-family: 'AvenirLTStd-Black';
		text-transform: uppercase;
		font-size: 0.75rem;
		letter-spacing: 0.1125em;
		color: $light_blue;
	}

	.virtual-campus {
		text-align:center;
		padding: 8% 0 0;

		.fal {
			font-size:3em;
			color:#e09e10;
			margin-bottom: 10px;
		}

		h5 {
			font-size: 1.125rem;
			font-family: 'AvenirLTStd-Black';
			margin-bottom: 10px;
		}
	}

	.footer {

		.credits {
			margin-top: 0;
		}

		p {
			line-height:28px;
		}

		h3 {
			color:#4d7da6;
		}

		.btn-box {
			margin-top:23px;
			display:flex;
			.btn-bad {
				padding: 14px 34px 13px 34px;
				letter-spacing:0.15em;
			}
		}

		.payment-types {
			padding-bottom:27px;
			margin-top: 20px;
			img {
				margin:2px;
			}
		}
	}
	.reveal {
		position: fixed;
	    left: 50%;
	    transform: translateX(-50%);
	}
	#video-modal #modal-content {
		h2 {
			font-size:1.25em;
			font-weight:bold;
		}
	}

}
