.page-template-page-madicou {
	#top-header nav,
	#top-header nav a {
			background-color:transparent;
			color:#818285;
		}
	.site-header {
	    border-bottom: 1px solid #e5e6e6;
	    background-color: rgba(255,255,255,0.95);
	    height: 71px;
	    transition: height 0.33s;
	    overflow: hidden;
	    position: fixed;
	    width: 100%;
	    z-index: 999;

		.top-bar-left {
			text-transform:uppercase;
		}
		.top-bar-right .btn-yellow {
			font-family:'AvenirLTStd-Heavy';
			font-size:11px;
			background-color:#fff;
			border:2px solid $yellow;
			color:$yellow !important;
			letter-spacing: 0.15em;
			padding:10px 18px 9px 18px;
			display:block;
		}
	    .top-bar-title {
	        padding: 0px 0px;
	        height: 40%;
	    }
		.top-bar .menu a {
			font-weight:normal;
			font-size:14px;
		}
	    .main-menu > ul {
		    padding: 0;
		    height: 100%;
		    background:transparent;
		}
		.main-menu > ul >li {
			font-family: 'AvenirLTStd-Medium', sans-serif;
		}
	}
	
	section {
		padding:3% 0;
		.module .meta p {
			padding-bottom:.5em;
		}
		#searchform input[type=text] {
			max-width:440px;
		}
	}
	.subnav {
		background-color: #00467f;
		padding:0.7em 0;
		a, li {
			color:#ffffff;
		}
		.subnav-left, .subnav-right {
			float: right;
    		right: 0;
    		position: relative;
		}
		span {
			line-height: 1;
		    text-decoration: none;
		    display: block;
		    padding: 0.7rem 0rem 0.7rem 2rem;
		    color:#ffffff !important;
		}
		.is-dropdown-submenu {
			border:0;
			background-color: #00467f;
			top:inherit;
			left:auto !important;
		}
		.menu .is-active > a {
			background-color: #00467f;
		}
		.sub-menu .menu i {
			color:#B2C7D9;
		}
		.sub-menu .menu .ask a {
			text-transform:uppercase;
			color:#B2C7D9;
		}
	}

	.madicou-search {
		padding:6% 0;
		background-color:#ECF1F6;
	}

	.page-content {
		.side-documents {
			.meta {
				.doc-link {
					.fal {
						font-size:2em;
						margin:0 .5em 2em;
						float:left;
					}
				}
			}
		}
	}

	.see-more {
		font-family: 'AvenirLTStd-Black';
		text-transform:uppercase;
		font-size:12px;
		font-weight:bold;
		letter-spacing:0.1125em;
	}

	.virtual-campus {
		text-align:center;
		.fal {
			font-size:3em;
			color:#e09e10;;
		}
		h5 {
			font-size:1.5em;
			font-weight:bold;
		}
	}

	.footer {
		.credits {
			margin-top:calc(150px - 0.9375rem);
		}
		p {
			line-height:28px;
			font-size:16px;
		}
		h3 {
			color:#4d7da6;
		}
		.btn-box {
			margin-top:23px;
			display:flex;
			.btn-bad {
				padding: 14px 34px 13px 34px;
				letter-spacing:0.15em;
			}
		}
		.payment-types {
			padding-bottom:27px;
			img {
				margin:2px;
			}
		}
	} 
}
