.featured-products{
	background-color: $white;

	.taxonomy-products{

		#posts-container{
			box-shadow: 0 1px 6px 2px #eee;
		}

		.tax-menu{
			padding: 0;
			box-shadow: none;
			background-color: #f8f8f8;

			li{
				border-bottom: 1px solid #e0e8f0;

				&:last-of-type{
					border-bottom: 0;
				}

				&.active {
					position: relative;

					a:after{
						content: '';
				    position: absolute;
				    right: -12px;
				    top: 50%;
				    transform: translateY(-50%);
				    width: 0;
				    height: 0;
				    border-style: solid;
				    border-width: 10px 0 10px 12px;
				    border-color: transparent transparent transparent #e0e8f0;
					}
			  }

				a{
					padding: 30px 0 30px 15%;
				}
			}
		}

		#all-posts{
			@include bg-center-cover;
			padding: 5% 10%;

			h4{
				font-family: 'AvenirLTStd-Black';
			}

			p{
				margin-bottom: 30px;
			}

			a:hover{
				text-decoration: none;
			}
		}
	}
}

.page-template-page-specialty{

	#tax-menu{
		height: 100%;

		li{
			height: 33.33333%;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			&:hover{
				background-color: #e0e8f0;
			}

			&.active{
				background-color: #e0e8f0;
			}

			a{
				padding: 0;

				&:hover{
					background-color: $clear;
				}
			}
		}
	}
}

.specialty_taxonomies {

	.taxonomy-intro i{
		color: #a7a9ac;
	}

}