.taxonomy-intro,.taxonomy-benefits{

	.subhead{
		margin-bottom: 50px;
	}

	h5{
		font-size: 18px;
		font-family: 'AvenirLTStd-Black';
	}

	i{
		font-size: 44px;
		margin-bottom: 10px;
		color: $yellow;
	}
}

.tax-specialty_taxonomies.term-products,.tax-specialty_taxonomies.term-industries{

	.taxonomy-intro .read-more{
		
		i{
			font-size: 0.875rem;
			color: #80a3bf;
			margin-bottom: 0;
			transition: color 0.2s ease-in-out;
		}

		&:hover i{
			color: $blue;
		}
	}
}

.tax-specialty_taxonomies.term-industries{

	#tax-posts h4{
		color: $blue;
		font-family: 'AvenirLTStd-Heavy';
	}

	#all-posts{

		h4{
			font-size: 1.125rem;
		}
	}

	#single-post{

		.meta{
			padding: 5% 20px;
		}

		.meta i{
			font-size: 1rem;
			color: $light_blue;
		}

		h4{
			font-size: 1.5rem;
		}

		.content{
			margin-bottom: 30px;
		}
	}
}

.tax-safety_taxonomies.term-products{

	#page-header,.taxonomy-intro{
		background-color: $clear;
	}
}

.taxonomy-benefits{
	background-color: $white;
}

.taxonomy-products{

	background-color: #f8f8f8;

	.tax-menu{
		background-color: $white;
		box-shadow: 0 1px 6px 2px #eee;
		padding: 20px 0;
		border-radius:5px;

		@include breakpoint(small down){
			margin-bottom: 30px;
		}

		li{
			transition: all 0.2s ease-in-out;
			border-left: 2px solid $clear;
			
			&:hover{
				border-left:2px solid $blue;

				a{
					background-color: #e0e8f0;
					color: $light_blue;
				}
			}

			&.active {
				border-color: $blue;

				> a{
					background-color: #e0e8f0;
					color: $light_blue;
				}
			}

			a{
				padding-left: 10%;
				color: #818285;
				transition: all 0.2s ease-in-out;
				font-size:.9rem;
			}
		}
	}

	.product-benefits{
		list-style-type: none;
		margin-left: 0;

		li{
			text-indent: -0.8rem;
			padding-left: 25px;
			    padding: 5px 0 10px 25px;
		}

		i{
			color: $light_blue;
		}
	}

	#single-post{

		img{
			width: 100%;
			margin-bottom: 1.25rem;
		}

		h4,h6{
			font-family: 'AvenirLTStd-Black';
		}

		h4{
			font-size: 1.5rem;
		}

		h6{
		  font-size: 1.125rem;
		}

		.content{
			margin-bottom: 30px;
		}

		.fa-file-pdf{
			font-size: 2.875rem;
			color: $light_blue;
		}
	}
}

.taxonomy-testimonials,.machines{
	background-color: $white;

	.orbit-previous{

		@include breakpoint(small only){
			left: -30px;
		}
	}

	.orbit-next{

		@include breakpoint(small only){
			right: -30px;
		}
	}

	.orbit-next,.orbit-previous{
		cursor: pointer;

		&:hover, &:active, &:focus{
			background-color: $clear;
		}

		&:hover{

			i{
				color: $text_gray;
			}
		}

		i{
			color: #CCC;
			font-size: 36px;
			transition: color 0.2s ease-in-out;
			cursor: pointer;
		}
	}

	.orbit-container{
		height: auto !important;

		.orbit-slide{
			font-size: 1.125rem;
		}

		.content{
			margin-bottom: 1.875rem;
		}

		.name{
			font-size: 1.125rem;
			font-family: 'AvenirLTStd-Black';
		}

		.location{
			font-size: 0.875rem;
			font-family: 'AvenirLTStd-Book';
		}
	}
}

#single-post{

	i{
		font-size: 1rem;
	}
}

.tax-residential_taxonomies{

	.taxonomy-faqs{
	  background-color: $white;
	}

	&.term-safety-security{

		#page-header{
			background-color: $clear;
		}

		.meta{
			padding: 20px 20px 30px;
		}
	}
}

.taxonomy-faqs{

	h5{
		font-family: 'AvenirLTStd-Black';
		font-size: 1.125rem;
	}
}

.tax-auto_taxonomies .film-selector{
	
	.btn-blue{
		background-color: $clear;
		border: 1px solid $white;
		color: $yellow;

		&:hover{
			color: $white;
			background-color: $yellow;
			border: 1px solid $yellow;
		}
	}
}

.film-selector{
	background-color: $yellow;
	@include bg-center-cover;

	@include breakpoint(small down){
		padding: 10% 0 12%;
	}

	.grid-x{
		align-items: center;
	}

	.fa-clipboard-check{
		font-size: 10rem;
		color: $white;

		@media(max-width:960px){
			font-size: 8rem;
		}

		@include breakpoint(small down){
			margin-bottom: 30px;
		}
	}

	.cell {

		@include breakpoint(small down){
			text-align: center;
		}
	}

	h3{
		margin-bottom: 5px;
	}

	p{
		margin-bottom: 25px;
	}
}

