.taxonomy-intro{

	.subhead{
		margin-bottom: 50px;
	}

	h5{
		font-size: 18px;
		font-family: 'AvenirLTStd-Black';
	}

	i{
		font-size: 44px;
		margin-bottom: 10px;
	}
}

.taxonomy-products{

	background-color: #f8f8f8;

	.tax-menu{
		background-color: $white;
		box-shadow: 0 1px 6px 2px #eee;
		padding: 20px 0;

		li{
			padding-left: 30px;
		}
	}
}