.taxonomy-intro{

	.subhead{
		margin-bottom: 50px;
	}

	h5{
		font-size: 18px;
		font-family: 'AvenirLTStd-Black';
	}

	i{
		font-size: 44px;
		margin-bottom: 10px;
	}
}

.taxonomy-products{

	background-color: #f8f8f8;

	.tax-menu{
		background-color: $white;
		box-shadow: 0 1px 6px 2px #eee;
		padding: 20px 0;

		li{
			
			a{
				padding-left: 15%;
				color: #818285;
			}

			&.active {
				border-left:2px solid $blue;

				> a{
					background-color: #e0e8f0;
					color: $light_blue;
				}
			}
		}
	}

	.breadcrumbs .breadcrumb-title{
		text-transform: uppercase;
		font-family: 'AvenirLTStd-Black';
		color: #a7a9ac;
		font-size: 0.75rem;
		margin-bottom: 10px;
	}

	.product-benefits{
		list-style-type: none;
		margin-left: 0;

		i{
			color: $light_blue;
		}
	}

	#single-post{

		img{
			width: 100%;
			margin-bottom: 1.25rem;
		}

		h4,h6{
			font-family: 'AvenirLTStd-Black';
		}

		h4{
			font-size: 1.5rem;
		}

		h6{
		  font-size: 1.125rem;
		}

		.content{
			margin-bottom: 30px;
		}

		.fa-file-pdf{
			font-size: 2.875rem;
			color: $light_blue;
		}
	}
}

.taxonomy-faqs{

	h5{
		font-family: 'AvenirLTStd-Black';
		font-size: 1.125rem;
	}
}

.film-selector{
	background-color: $yellow;

	.grid-x{
		align-items: center;
	}

	.fa-clipboard-check{
		font-size: 10rem;
		color: $white;
	}

	h3{
		margin-bottom: 5px;
	}

	p{
		margin-bottom: 25px;
	}
}

