$dark-nav-color:#333;
$white         :#FFF;
$black         :#000;
$yellow        :#e09e10;
$blue          :#1a598c;
$text-gray     :#636466;
$clear         :transparent;
$light_blue    :#4d7da6;
$facebook      :#3b5998;
$twitter       :#00aced;
$google        :#d34836;
$linkedin      :#0077b5;
